# /etc/systemd/system/prefixping.service

[Unit]
Description=uWSGI instance to serve PrefixPing
After=network.target

[Service]
User=tomc
Group=uwsgi
WorkingDirectory=/srv/PrefixCommons/PrefixPing
Environment="PATH=/srv/PrefixCommons/PrefixPing/prefixping/bin"

# ubuntu [debian] 
#ExecStart=/usr/bin/uwsgi --ini /srv/PrefixCommons/PrefixPing/prefixping.ini

# centos [redhat]
ExecStart=/usr/sbin/uwsgi --ini /srv/PrefixCommons/PrefixPing/prefixping.ini

[Install]
WantedBy=multi-user.target
